<%= link_to 'OverWine.io', root_path, id: 'brand' %>

<section id="jumbotron">
  <div id="jumbotron-content-wrapper">
    <div>
      <h1>Relax. Let us build your next MVP.</h1>
      <p>With over 10 years of industry experience working with startups and small businesses alike, we can help get your idea off the ground and take it to the next level.</p>
    </div>
  </div>
  <%= link_to image_tag("arrow-down.svg"), '#', id: 'scroll-down' %>
  <%= video_tag ["/videos/675073365.mp4", "/videos/675073365.webm"], poster: image_path('675073365.jpg'), autoplay: true, loop: true, muted: true %>
</section>


<section id="who-we-are">
  <h2>Who We Are</h2>
  <div>
    <figure>
      <div class='jeff'></div>
      <figcaption>
        <h3>Jeff Miller</h3>
        <span>
          <%= link_to icon('github'), 'https://www.github.com/ibanez270dx' %>
          <%= link_to icon('linkedin'), 'https://www.linkedin.com/in/ibanez270dx' %>
          <%= link_to icon('envelope'), 'mailto:jeff@humani.se' %>
        </span>
        <hr>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
      </figcaption>
    </figure>
    <figure><i class='fa fa-code fa-3x'></i></figure>
    <figure>
      <div class='gianna'></div>
      <figcaption>
        <h3>Gianna Fusaro</h3>
        <span>
          <%= link_to icon('github'), 'https://www.github.com/giannafusaro' %>
          <%= link_to icon('linkedin'), 'https://www.linkedin.com/in/giannafusaro' %>
          <%= link_to icon('envelope'), 'mailto:gianna@gianna.codes' %>
        </span>
        <hr>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
      </figcaption>
    </figure>
  </div>
</section>

<section id='our-projects'>
  <h2>Our Projects</h2>
  <ul class='grid'>
    <li id='super-pups'>
      <figure></figure>
    </li>
    <li id='isports'><figure></figure></li>
    <li id='ottos'><figure></figure></li>
    <li id='humani'></li>
    <li id='gianna-codes'></li>
    <li id='proxy-it'></li>
  </ul>
</section>
