<!DOCTYPE html>
<html>
  <head>
    <title>OverWine.io</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body id="<%= page_id %>" class="<%= page_classes %>">

    <%= yield %>

    <footer>
      <div class="flex-container">
        <h4>Everything is better OverWine.</h4>
        <ul>
          <li><%= link_to icon('facebook'), 'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Foverwine.io', target: :blank %></li>
          <li><%= link_to icon('twitter'), 'https://twitter.com/intent/tweet?url=http://overwine.io', target: :blank %></li>
          <li><%= link_to icon('google-plus-official'), 'https://plus.google.com/share?url=http://overwine.io', target: :blank %></li>
        </ul>
        <small>copyright <%= Time.now.year %> overwine.io</small>
      </div>
    </footer>
  </body>
</html>
